body{
    background-color: aquamarine;
}



.oyun-alani{

    width:408px;
    height:408px;
    background-color: black;
    float:left;
}
.oyun-tas{
    width:50px;
    height: 50px;
    background-color: gold;
    float:left;
    margin-left: 1px;
    margin-top: 1px;

}
.oyun-alani img{
    width:50px;
    height: 50px;
}
.yanan-taslar{
    width:408px;
    height:204px;
    float:left;
    margin-left: 10px;
    background-color: red;
}
.yanan-taslar h3{
    color:white;
}
.beyaz{
    float:left;
    width:49%;
    height:100%;
    background-color: coral;
}
.siyah{
    float:left;
    width:49%;
    height:100%;
    background-color: coral;
    margin-left: 2%;
}
